*:not(h1) {
    text-align: left;
}

h1 {
    background-image: linear-gradient(#ff8a00, #e52e71);
    color: white;
    text-align: center
}

h1:hover {
    color: yellow;
    transition: color 0.3s ease-in-out;
}

#special {
    background-image: linear-gradient(#a01cdd, #0d58d9);
    font-size: 40px;
    color: white;

    transition: font-size 0.3s ease-in-out;
}

#special:hover {
    font-size: 100px;
}

ul {
    justify-content: center;
}